	.DS_Store
	assets/.DS_Store
	assets/Vazirmatn-font-face.css
	assets/css/bootstrap-grid.css
	assets/css/bootstrap-grid.css.map
	assets/css/bootstrap-grid.min.css
	assets/css/bootstrap-grid.min.css.map
	assets/css/bootstrap-grid.rtl.css
	assets/css/bootstrap-grid.rtl.css.map
	assets/css/bootstrap-grid.rtl.min.css
	assets/css/bootstrap-grid.rtl.min.css.map
	assets/css/bootstrap-reboot.css
	assets/css/bootstrap-reboot.css.map
	assets/css/bootstrap-reboot.min.css
	assets/css/bootstrap-reboot.min.css.map
	assets/css/bootstrap-reboot.rtl.css
	assets/css/bootstrap-reboot.rtl.css.map
	assets/css/bootstrap-reboot.rtl.min.css
	assets/css/bootstrap-reboot.rtl.min.css.map
	assets/css/bootstrap-utilities.css
	assets/css/bootstrap-utilities.css.map
	assets/css/bootstrap-utilities.min.css
	assets/css/bootstrap-utilities.min.css.map
	assets/css/bootstrap-utilities.rtl.css
	assets/css/bootstrap-utilities.rtl.css.map
	assets/css/bootstrap-utilities.rtl.min.css
	assets/css/bootstrap-utilities.rtl.min.css.map
	assets/css/bootstrap.css
	assets/css/bootstrap.css.map
	assets/css/bootstrap.min.css
	assets/css/bootstrap.min.css.map
	assets/css/bootstrap.rtl.css
	assets/css/bootstrap.rtl.css.map
	assets/css/bootstrap.rtl.min.css
	assets/css/bootstrap.rtl.min.css.map
	assets/fonts/.DS_Store
	assets/fonts/ttf/Vazirmatn-Black.ttf
	assets/fonts/ttf/Vazirmatn-Bold.ttf
	assets/fonts/ttf/Vazirmatn-ExtraBold.ttf
	assets/fonts/ttf/Vazirmatn-ExtraLight.ttf
	assets/fonts/ttf/Vazirmatn-Light.ttf
	assets/fonts/ttf/Vazirmatn-Medium.ttf
	assets/fonts/ttf/Vazirmatn-Regular.ttf
	assets/fonts/ttf/Vazirmatn-SemiBold.ttf
	assets/fonts/ttf/Vazirmatn-Thin.ttf
	assets/fonts/variable/Vazirmatn[wght].ttf
	assets/fonts/webfonts/Vazirmatn-Black.woff2
	assets/fonts/webfonts/Vazirmatn-Bold.woff2
	assets/fonts/webfonts/Vazirmatn-ExtraBold.woff2
	assets/fonts/webfonts/Vazirmatn-ExtraLight.woff2
	assets/fonts/webfonts/Vazirmatn-Light.woff2
	assets/fonts/webfonts/Vazirmatn-Medium.woff2
	assets/fonts/webfonts/Vazirmatn-Regular.woff2
	assets/fonts/webfonts/Vazirmatn-SemiBold.woff2
	assets/fonts/webfonts/Vazirmatn-Thin.woff2
	assets/fonts/webfonts/Vazirmatn[wght].woff2
	assets/images/.DS_Store
	assets/images/1.jpg
	assets/images/2.jpg
	assets/images/3.jpg
	assets/images/avatar.jpeg
	assets/js/bootstrap.bundle.js
	assets/js/bootstrap.bundle.js.map
	assets/js/bootstrap.bundle.min.js
	assets/js/bootstrap.bundle.min.js.map
	assets/js/bootstrap.esm.js
	assets/js/bootstrap.esm.js.map
	assets/js/bootstrap.esm.min.js
	assets/js/bootstrap.esm.min.js.map
	assets/js/bootstrap.js
	assets/js/bootstrap.js.map
	assets/js/bootstrap.min.js
	assets/js/bootstrap.min.js.map